<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChangeCaseGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ChangeCaseGUI.Properties.Settings>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyLower" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="HotkeyUpper" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="HotkeyPlain" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="HotkeyCapsLock" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyUpperCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyUpperAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyUpperShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyUpperWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyLowerCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyLowerAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyLowerShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyLowerWin" serializeAs="String">
                <value>False</value>
            </setting>
        </ChangeCaseGUI.Properties.Settings>
    </userSettings>
</configuration>
